@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.NewsArea>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Layout.cshtml";
	var articles = Model.Content
	                .Children<NewsArticle>()
	                .OrderByDescending(x => x.CreateDate);
}

<!-- News area header -->
 <section class="section section--themed section--header section--content-center-bottom">
		<div class="section__hero-content">
		     <!-- Insert the PageName field Here -->
			<h1 class="no-air">@Umbraco.Field("pageName")</h1>
		</div>
</section>
<!-- end of header -->	
	
<section class="section">

    <div class="container">

        <div class="col-md-9">
            
            <h4>
                <!-- Insert the Introduction field Here -->
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus accumsan vehicula felis nec gravida. Proin dictum magna dui, id efficitur lorem maximus at. Sed hendrerit suscipit turpis mattis aliquam.
            </h4>
            

            <div class="container">
				<div class="blogposts">
				
                    <!-- Start of news article listing -->
					<a href="#" class="blogpost blogpost-with-image">
						<div class="blogpost-info">
							<div class="blogpost-meta">
								<small class="blogpost-date">1/11 2017</small>
								<small class="blogpost-cat">Umbraco, Meh, News, Tag</small>
							</div>
							<h3 class="blogpost-title">consectetur adipiscing elit</h3>
							<div class="blogpost-excerpt">Proin tincidunt quam nec tellus porttitor, in placerat nisl porta. Duis suscipit molestie nisl, commodo ullamcorper nulla gravida et. Aliquam molestie nisl at ultricies elementum</div>
						</div>
							
						<!--- optional  - if the article has a image assigned to it -->
						<div class="blogpost-image" style="background-image: url('#')"></div>	
					</a>
					<!-- End of article listing -->
                    

                    <a href="#" class="blogpost blogpost-with-image">
						<div class="blogpost-info">
							<div class="blogpost-meta">
								<small class="blogpost-date">1/11 2017</small>
								<small class="blogpost-cat">
                                        Umbraco, Meh, News, Tag
                                </small>
							</div>
							<h3 class="blogpost-title">Curabitur et blandit ante</h3>
							<div class="blogpost-excerpt">Proin tincidunt quam nec tellus porttitor, in placerat nisl porta. Duis suscipit molestie nisl, commodo ullamcorper nulla gravida et. Aliquam molestie nisl at ultricies elementum</div>
						</div>
							
						
						<div class="blogpost-image" style="background-image: url('#')"></div>	
					</a>


                    <a href="#" class="blogpost blogpost-with-image">
						<div class="blogpost-info">
							<div class="blogpost-meta">
								<small class="blogpost-date">1/11 2017</small>
								<small class="blogpost-cat">Umbraco, Meh, News, Tag</small>
							</div>
							<h3 class="blogpost-title">Nunc maximus viverra ligula</h3>
							<div class="blogpost-excerpt">Proin tincidunt quam nec tellus porttitor, in placerat nisl porta. Duis suscipit molestie nisl, commodo ullamcorper nulla gravida et. Aliquam molestie nisl at ultricies elementum</div>
						</div>
							
						
						<div class="blogpost-image" style="background-image: url('#')"></div>	
					</a>


                    <a href="#" class="blogpost blogpost-with-image">
						<div class="blogpost-info">
							<div class="blogpost-meta">
								<small class="blogpost-date">1/11 2017</small>
								<small class="blogpost-cat">Umbraco, Meh, News, Tag</small>
							</div>
							<h3 class="blogpost-title">Morbi suscipit quam consectetur</h3>
							<div class="blogpost-excerpt">Proin tincidunt quam nec tellus porttitor, in placerat nisl porta. Duis suscipit molestie nisl, commodo ullamcorper nulla gravida et. Aliquam molestie nisl at ultricies elementum</div>
						</div>
							
						
						<div class="blogpost-image" style="background-image: url('#')"></div>	
					</a>
				</div>
			</div>            

        </div>
        
    </div>
</section>