@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.NewsArticle>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "ChildPage.cshtml";
}


	
	
<section class="section">

    <div class="container">

        <div class="col-md-9">

            <article>
            
            <h4>
                <!-- Insert the Summary field Here -->
                @Umbraco.Field("summary")
            </h4>
            
            <h5>
                <!-- Insert the Categories field Here -->
                @String.Join(",", Umbraco.Field("categories"))
            </h5>
            
            <!-- Insert the BodyText field here -->
            @Umbraco.Field("bodyText")
            
            </article>
        </div>
        

        
        <div class="col-md-3">
            
            <!-- Go futher and implement the article navigation  here -->
            <nav class="nav-bar nav-bar--list">
                <a class="nav-link nav-link--black nav-link--air-bottom" 
                            href="">News Article</a>
                
                <a class="nav-link nav-link--black nav-link--air-bottom  nav-link--active" 
                            href="">News Article</a>
                
                <a class="nav-link nav-link--black nav-link--air-bottom" 
                            href="">News Article</a>
                
                <a class="nav-link nav-link--black nav-link--air-bottom" 
                            href="">News Article</a>
            </nav>

        </div>


    </div>
</section>
