@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Layout.cshtml";
}

@* the fun starts here *@



<section class="section">
    <div class="container">
        <div class="col-md-9">
            <article>
                <!-- Replace with "bodyText" value -->
                @Umbraco.Field("bodyText")
                </article>
        </div>

        <div class="col-md-3">
            <nav class="nav-bar nav-bar--list">
            @foreach(var child in Model.Content.AncestorOrSelf(2).Children)
            {
                   <a class="nav-link nav-link--black nav-link--air-bottom
                   @child.IsAncestorOrSelf(Model.Content, "nav-link--active")"
                   href="@child.Url">@child.Name</a>

            }
             <!-- 
                <a class="nav-link nav-link--black nav-link--air-bottom nav-link--active"
                   href="#">Child page</a>

                <a class="nav-link nav-link--black nav-link--air-bottom"
                   href="#">Child page</a>
                   -->
            </nav>
        </div>


    </div>
</section>