@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Layout.cshtml";
}

@* the fun starts here *@

<section class="section section--themed section--header section--content-center-bottom">
    <div class="section__hero-content">
        <!-- Replace with "PageName" value -->
        <h1 class="no-air">@Umbraco.Field("metaTitle")</h1>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="col-md-9">
            <article>
                <!-- Replace with "bodyText" value -->
                @Umbraco.Field("bodyText")
                </article>
        </div>

        <div class="col-md-3">
            <nav class="nav-bar nav-bar--list">
            @foreach(var child in Model.Content.AncestorOrSelf(2).Children)
            {
                   <a class="nav-link nav-link--black nav-link--air-bottom"
                   href="@child.Url">@child.MetaTitle</a>

            }
             
                <a class="nav-link nav-link--black nav-link--air-bottom nav-link--active"
                   href="#">Child page</a>

                <a class="nav-link nav-link--black nav-link--air-bottom"
                   href="#">Child page</a>
            </nav>
        </div>


    </div>
</section>