<?xml version="1.0" encoding="utf-8"?>
<environments xmlns="urn:umbracodeploy-environments" id="a7cfe78b-261b-4274-8e36-994faef60c61" name="ed.davison@digitalpotion.co.uk" alias="ed-davison-digitalpotion-co-uk" type="Starter" color="" url="https://www.s1.umbraco.io/project/ed-davison-digitalpotion-co-uk">
  <environment type="live" name="Live" id="85078a4b-c117-4ec7-8979-e08fcc4197b9">https://ed-davison-digitalpotion-co-uk.s1.umbraco.io</environment>
</environments>